body{
  background-color: rgb(9, 218, 207);
}

.title{
  color: white;
  padding: 25px;
  font-size: 3.3rem;
 
}

.enter{
  border: 1px solid black;
  background-color: gainsboro;
}

.task{
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 10px 190px;
  text-align: center;
  background-color: white;
  border: blueviolet solid 4px;
  
}

.task>div{
  width: 100%;

  
}
.task>div >p{
  margin: 0px 10px;
  font-style: italic;
  font-weight: bolder;
  font-size: x-large;
}
